:root {
    --primary-bcg-color: #ffffff;
    --secondary-bcg-color: #f5f4fa;
    --accent-bcg-color: #2f303a;
    --accent: #2196f3;
    --text-black-color: #000000;
    --text-grey-color: #212121;
    --text-lightgrey-color: #757575;
    --text-white-color: #ffffff;
    --text-white-opacity: rgba(255, 255, 255, 0.6);
}

body {
    background-color: var(--primary-bcg-color);
    color: var(--text-lightgrey-color);
    font-family: "Roboto", sans-serif;
}
ul {
    list-style: none;
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent);
    text-decoration: none;
}

.logo-header {
    color: var(--text-black-color);
}

/* -----------HEADER----------- */


.page-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
}

.nav-list .link {
    color: var(--text-grey-color);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent);
}

.link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-lightgrey-color);
    text-decoration: none;
    
}

.link:hover,
.link:focus {
    color: var(--accent);
}

.contacts-list li{
    list-style: none;
}


/* -----------HERO----------- */

.hero {
    background: var(--accent-bcg-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-white-color);
}

.button{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    background-color: var(--accent);
    color: var(--text-white-color);
    border: none;
    cursor: pointer;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-grey-color);
}

/* -----------ADVANTAGES----------- */
.hide {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

.advantages-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-grey-color);
}

.advantages .text {
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: var(--text-lightgrey-color);
}

/* -----------TEAM----------- */

.team {
    background-color: var(--secondary-bcg-color);
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-grey-color);
}

.team-position {
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-lightgrey-color);
}

/* -----------FOOTER----------- */

footer {
    background-color: var(--accent-bcg-color);
    padding: 60px 215px;
}

footer .contacts a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

footer .contacts a.wht {
    color: var(--primary-bcg-color);
}

.logo .logo-header.wht {
    color: var(--primary-bcg-color);
}

footer .contacts {
    list-style-type: none;
    padding-left: 0%;
}
.adress-list {
    display: grid;
    gap: 30px;
}

/* -----------PORTFOLIO PAGE-----------  */

.btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--secondary-bcg-color);
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--accent);
    color: var(--text-white-color);
}

.portfolio-card {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-grey-color);
}

.txt {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--text-lightgrey-color);
}

.port-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-grey-color);
}

.port-text {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--text-lightgrey-color);
}