:root {
    --primary-bcg-color: #ffffff;
    --secondary-bcg-color: #f5f4fa;
    --accent-bcg-color: #2f303a;
    --accent: #2196f3;
    --text-black-color: #000000;
    --text-grey-color: #212121;
    --text-lightgrey-color: #757575;
    --text-white-color: #ffffff;
    --text-white-opacity: rgba(255, 255, 255, 0.6);
}


body {
    background-color: var(--primary-bcg-color);
    color: var(--text-lightgrey-color);
    font-family: "Roboto", sans-serif;
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent)
    text-decoration: none;
}

.logo-header {
    color: var(--text-black-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* -----------HEADER----------- */

.page-header {
    background-color: var(--primary-bcg-color);
    border-bottom: 1px solid #ECECEC;
}

.page-header nav {
    display: inline-block;
}

.nav-list li {
    display: inline-block;
}

.nav-item a:active {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent);
}

.nav-link:hover,
.nav-link:focus 
.nav-link:active {
    color: var(--accent);
}

.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--text-lightgrey-color);
}

.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--text-lightgrey-color);
}

.header-mail:hover,
.header-mail:focus 
.header-mail:active{
    color: var(--accent)
}

/* -----------HERO----------- */

button {
    background: var();
}

.portfolio-list li {
    display: inline-block;
}

.portfolio-items {
    list-style-type: none;
}

/*.portfolio-card img{
    width: 370px;
}*/

.portfolio-card {
    width: 370px;
    margin: 30px;
    border: 1px solid #EEEEEE;
    display: inline-block;
}

.portfolio-card h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    letter-spacing: 0.06em;
    color: var(--text-grey-color);
}

.portfolio-card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--text-lightgrey-color);
}

.portfolio-card .txt {
    padding: 20px 24px;
}

/* -----------FOOTER----------- */
footer {
    background-color: var(--accent-bcg-color);
    padding: 60px 215px;
}

footer .contacts a {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

footer .contacts a.wht {
    color: var(--primary-bcg-color);
}

.logo .logo-header.wht {
    color: var(--primary-bcg-color);
}

footer .contacts {
    list-style-type: none;
    padding-left: 0%;
}